.heroSectionComponent{
    color: #03151E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    color: var(--text-color);
    width: var(--container-width);
    line-height: var(--line-height);
    font-size: var(--font-size);
    height: 82vh;
}
.active {
  height: 100%;
  padding: 10px;
  border-bottom: 2px solid var(--primary-color);
}

.libraryIntro{
    display: flex;
    flex-direction: column;
    
    row-gap: 80px;
}

.heroImage{
    width: 60%;
    height: 80%;
}

.heroPara{
  font-size: 25px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
}

.exploreButton {
    background-color: #03151E; 
    color: #fff; 
    text-align: center;
    padding: 20px;
    border: none; 
    text-decoration: none;
    border-radius: var(--border-radius); 
    font-size: 1.5rem; 
    width: fit-content;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  
  .exploreButton:hover {
    transform: scale(1.05);
    opacity: 0.5;
  }

  @media (max-width:1400px) {
    .libraryIntro{
      row-gap: 20px;
  }
  }



  @media (max-width: 1100px) {

    .heroSectionComponent{
      height: 100%;
    }

    .heroSectionComponent {
      margin: 30px auto;
    }
  
    .libraryIntro {
      width: 100%; 
      row-gap: 40px;
    }

    .libraryIntro > h1{
      text-align: center;
    }

    .libraryIntro > p{
      text-align: center;
    }
  
    .heroImage {
      display: none; 
    }

    .heroPara{
      width: 100%;
    }
  
    .exploreButton {
      font-size: 1.2rem;
      margin: 0 auto;
    }
  }

  @media (max-width:700px){

    .libraryIntro > p:first-child{
      font-size: 30px;
    }

    .exploreButton{
      padding: 15px;
    }
  }

  @media (max-width:600px){
    .heroPara{
      font-size: 15px;
    }
    .libraryIntro{
      row-gap: 10px;
    }
  }

  @media (max-width:400px){
    .libraryIntro > p:first-child{
      font-size: 22px;
    }
    .exploreButton{
      padding: 10px;
    }
  }


  