.websiteNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FF5733; /* Custom background color */
    color: white; /* Text color */
  }
  
  .errorMessage {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .sadEmoji {
    font-size: 48px;
    margin-bottom: 16px;
  }
  