.singleBookContainer{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.spantext{
    font-weight: bold;
}
.mainInfoContainer{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 1.4em;

}
.suggestedBook{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
    
}
.suggestedBookHolder{
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoContainer{
    margin: 3em 3em;
    width: 60%;
    /* border: 1px solid red; */
}
.info{
    padding: 10px;
    line-height: var(--line-height);
    font-size: 1em;
 
}
.bookTitle{
    font-size: 1.4em;
}
.imgContainer{
    /* padding-top: 1.5em; */
    /* width:250px; */
    width: 15%;
/* border: 1px solid green; */
padding: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-around  ;

}
.suggestedBookTitle{
    margin: 2.1em 0;
    font-size: 1.4em;
}

.image{
    width: 100%;
    height:auto;
    /* border:1px solid red  */
}
.StarSingleContainer{
    text-align: center;
    font-size: 30px;
    /* border: 1px solid red; */
    padding: 5px 0;
}
@media only screen and (max-width:768px) {
    .mainInfoContainer{
       flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .infoContainer{
        margin: 1em ;
        width: 95%;
    }
    .imgContainer{
        padding-top: 4em;
        margin: 0 auto;
    }
    .suggestedBookTitle{
        margin: 2em 0;
        text-align: center;
    }
    .suggestedBook{
        justify-content: space-around;
        
    }

}
