.loginWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
.loginInput {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.loginSubmit {
  background-color: #03151e;
  padding: 10px;
  color: white;
  margin-top: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.loginSubmit:hover {
  color: #03151e;
  border-color: #03151e;
  background-color: #fff;
}
