.allBooks {
  margin-top: 50px;
}



.overflow{
  height: 500px;
  width: fit-content;
  overflow-y: scroll;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

tr > th {
  background-color: #F5F5F5;
  text-align: center;
  padding: 15px;
  font-size: 15px;
}

tr > td {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid rgb(199, 195, 195);
}

.buttonContainer {
  display: flex;
}

.updateDelete {
  border: none;
  cursor: pointer;
  width: 60px;
  margin: 5px;
}

@media only screen and (max-width: 800px) {
  .buttonContainer {
    column-gap: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .allBooks {
    flex-direction: column;
    row-gap: 10px;
  }

  .buttonContainer {
    flex-direction: row;
    column-gap: 10px;
  }

  tr > td,
  tr > th {
    width: auto;
    padding: 10px;
  }

  .overflow{
    height: 500px;
    width: 90%;
    overflow-y: scroll;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  
}

@media only screen and (max-width: 470px) {
  .buttonContainer {
    flex-direction: column;
    row-gap: 5px;
  }
  .updateDelete {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  tr > td,
  tr > th {
    width: auto;
    padding: 10px;
  }
}

  