.contentsComponent{
    margin-bottom: 20px;
}


.contentsComponent > h2{
    text-align: center;
    margin-bottom: 40px;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.imageBook{
  max-width: 100%;
  max-height: 280px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0 auto;
}

  .bookContainer:hover{
    transform: scale(1.1);
  }
  

.imageButton{
    border: none;
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
}

.titleBook{
    text-align: center;
    width: 220px;
}

.bookContainer{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    transition: all 0.3s ease;
}

  .borderComponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 100px;
  }
  
  .singleBorder {
    width: calc(25.66% - 0px);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    height: 300px;
  }

  .singleBorder > h3{
    color: #0078d4
  }

  .contentsComponent > h2{
    margin-top: 70px;
    text-align: center;
  }

  .contentsComponent > p{
   width: 80%;
   text-align: center;
   margin: 0 auto;
   font-size: 20px;
  }

@media (max-width: 1100px){
    .imageBook{
        width: 250px;
        
    }
}

@media (max-width: 700px){
    .singleBorder{
        flex: 0 0 calc(65% - 50px)
    }
}

@media (max-width : 350px){

    .imageBook{
        height: 250px ;
    }

    .singleBorder{
        flex: 0 0 calc(100% - 50px)
    }
}