h1 {
  text-align: center;
}
form {
  width: 50%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
input,
select {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
input:focus {
  border-color: #CCC; 
}

label {
  display: block;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
button {
  border-radius: 8px;
  padding: 16px;
  width: 160px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.add{
    background: #03151E;
    color: white;
    border: none;
}
.add:hover{
  background: white;
  color: #03151E;
  border: 1px solid #CCC ;
}
.cancel{
    border: 1px solid #CCC;
    background-color: white;
}
.cancel:hover{
  background: #03151E;
  color: white;
}
@media only screen and (max-width:768px) {
  form {
    width: 70%;
  }
  button {
    width: 105px;
  }

}