* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.App {
  background-color: #fefefe;
  width: 100%;
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #03151e; /*the blue color*/
  --text-color: black; /*text color*/
  --line-height: 1.4; /*the height of the line*/
  --font-size: 16px; /*font size of text in paragraph*/
  --font-size-h1: 2rem; /*font size of heading 1*/
  --border-radius: 5px; /*border radius*/
  --container-width: 90%; /*cointainer width of the main content in the page*/
  --breakpoint-small: 576px; /*small screen breakpoints*/
  --breakpoint-medium: 768px; /*medium screen breakpoint*/
  --breakpoint-large: 992px; /*large screen breakpoints*/
}
